{% extends 'IgaOAuthBundle:Secured:index.html.twig' %}
{% block main %}
{% if user %}
<a style="float:left;" href="{{ user.url }}"><img height="80px" src="{{ user.image }}?sz=80"></a>
<h3 style="float:left;">Bienvenido, {{ user.displayName }}</h3>
<div style="clear:both"></div>
{% endif %}
<h1>Próximos eventos</h1>

    {% for entity in entities %}

<h3>{{ entity.title }}</h3>
<img src="http://maps.google.com/maps/api/staticmap?center={{ entity.location|escape }}&zoom=14&size=80x80&maptype=roadmap
&markers=color:blue|label:A|{{ entity.lat }},{{ entity.lng }}&sensor=false" height="80px" width="80px" class="map">
<div class="attrs">
En <b>{{ entity.location }}</b>{% if entity.start %}, comienza {{ entity.start|date('Y-m-d H:i:s') }}{% endif%}.<br>
<b>Información:</b><br>
{% if entity.end %}{{ entity.info }}{% endif%}
</div>
                <a class="btn primary right" href="{{ path('event_show', { 'id': entity.id }) }}">Ver más</a>

</div style="clear:both"></div>

           
    {% endfor %}
    
<ul>
    <li>
        <a href="{{ path('event_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
