{% extends 'IgaOAuthBundle::layout.html.twig' %}
{% block js %}
$("#iga_oauthbundle_eventtype_location").keyup(function(){
    var val = $("#iga_oauthbundle_eventtype_location").val();
    if(val.length > 3) {
        $.ajax({
            url : '{{ path('maps_search') }}',
            data : 'query='+escape(val),
            success : function(r){
                
                $("#info").html(r);
            }
        });
    }
});

$(".choose").live('click',function(){
    var vr = $(this).parent().prev().html();
    var lat = $(this).parent().prev().attr("lat");
    var lng = $(this).parent().prev().attr("lng");
    $("#iga_oauthbundle_eventtype_location").attr("value",vr);
    $("#iga_oauthbundle_eventtype_lat").attr("value",lat);
    $("#iga_oauthbundle_eventtype_lng").attr("value",lng);
    //$("#iga_oauthbundle_eventtype_location").attr("disabled","disabled");
    $("#info").fadeOut();
    $("#info").html("<a id='change' class='btn warning' href='#'>Cambiar</a>");
    $("#info").fadeIn();
});

$("#change").live("click",function(){
    $("#iga_oauthbundle_eventtype_location").removeAttr("disabled");
    $("#info").html("Introduce una localización");
})
{% endblock %}
{% block main %}
<h1>Event creation</h1>

<form action="{{ path('event_create') }}" method="post" {{ form_enctype(form) }}>


<fieldset>
          <legend>Datos Básicos</legend>
          <div class="clearfix">
            <label for="xlInput">Título del evento</label>
            <div class="input">
                {{ form_widget(form.title,{ 'attr' : { 'class' : 'xlarge' , 'size' : '30' }}) }}
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="xlInput">Localización</label>
            <div class="input">
                {{ form_widget(form.location,{ 'attr' : { 'class' : 'xlarge' , 'size' : '30' }}) }}
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">

            <label for="xlInput">Seleccionar</label>
            <div class="input" id="info">
                Introduce una localización
            </div>
          </div><!-- /clearfix -->
            
          
<div class="clearfix">
            <label for="xlInput">Inicio del evento</label>
            <div class="input">
              {{ form_widget(form.start) }}
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">

            <label for="xlInput">Fin del evento:</label>
            <div class="input">
              {{ form_widget(form.end) }}
            </div>
          </div><!-- /clearfix -->
          
        </fieldset>


<fieldset>
          <legend>Información Adicional</legend>
          <div class="clearfix">

            <label for="xlInput">Información</label>
            <div class="input">
              {{ form_widget(form.info, { 'attr' : { 'class' : 'xxlarge' }}) }}
            </div>
          </div><!-- /clearfix -->
          
        </fieldset>


    {{ form_rest(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('event') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}